img.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img.css-o69gx8-MuiCardMedia-root {
  margin-right: 20px;
  height: 60vh;
}
.card1{
  margin-top: 30px;
  margin-left: 40px;
  height: 70vh;
  margin-bottom: 30px;
}
.card1img{
  height: 40vh;
}
.card2{
  margin-top: 30px;
  margin-left: 40px;
  height: 70vh;
  margin-bottom: 30px;
}


.card3{
  margin-top: 30px;
  margin-left: 40px;
  height: 70vh;
  margin-bottom: 30px;
}
.img1{
  height: 60vh;
  width: 40vw;
}
